.article-list {
  display: flex;
  flex-direction: column;
  > li{
    padding-top: .75em;
    padding-bottom: .75em;
    width: 100%;
    &:not(:last-child) {
      border-bottom:1px solid $color-pale-black;
    }
  }
}
